<html>
    <head>
    </head>

    <body>
        <div>
            <h1>COVID-19 Screener</h1>
        </div>
        <div>
            <form id="screeningForm" method="POST" action="" enctype="application/x-www-form-urlencoded">
                <input type="checkbox" id="travel" name="travel">
                <label for="travel">If you are not yet fully vaccinated, in the last 14 days, have you traveled internationally?</label><br><br>
                <input type="checkbox" id="contact" name="contact">
                <label for="contact">If you are not yet fully vaccinated, within the past 14 days, have you been in close contact (6 feet or closer for at least 15 minutes) with a person who tested positive for COVID-19 or with anyone who has any COVID-19 symptoms?(fever, cough, shortness of breath or difficulty breathing, sore throat, muscle or body aches, changes in smell or taste, diarrhea)</label><br><br>
                <input type="checkbox" id="conditions" name="conditions">
                <label for="conditions">Regardless of your vaccination status, have you had any of the following NEW or WORSENING conditions in the past 48 hours?
                    <li>A fever of 100.4°F or higher or felt feverish</li>
                    <li>Cough, shortness of breath or difficulty breathing</li>
                    <li>Sore throat</li>
                    <li>Muscle or body aches</li>
                    <li>Chills</li>
                    <li>Nausea, vomiting or diarrhea</li>
                    <li>Change in smell or taste</li>
                </label><br><br>
                <input type="checkbox" id="self-monitor" name="self-monitor">
                <label for="self-monitor">Regardless of your vaccination status, within the past 14 days, have you been told by a public health or medical professional to self-monitor, self-isolate, or self-quarantine because of concerns about COVID-19 infection? This includes you receiving a COVID-19 test recommended by a medical professional, with results still pending.</label><br><br>
                <input type="checkbox" id="none" name="none">
                <label for="none">None of the above</label><br><br>
                <input type="submit">
            </form>
        </div>
        <script>
            let form = document.querySelector('#screeningForm');
            let positiveTest = form.querySelectorAll('input:not([name="none"])');
            let negativeTest = form.querySelector('[name="none"]');

            form.addEventListener('change', ({ target }) => {
                if (target === negativeTest) {
                    positiveTest.forEach(checkbox => {
                        checkbox.checked = false;
                    })
                } else {
                    negativeTest.checked = false;
                }
            });
        </script>
    </body>
</html>

